<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="kr">
<th:block th:fragment="boardCard">
    <div class="list-group">
        <div class="list-group-item list-group-item-primary text-start"><h4>게시판 제목</h4></div>
        <th:block th:replace="~{/common/postItem :: postItem}"></th:block>
        <th:block th:replace="~{/common/postItem :: postItem}"></th:block>
        <th:block th:replace="~{/common/postItem :: postItem}"></th:block>
        <th:block th:replace="~{/common/postItem :: postItem}"></th:block>
        <th:block th:replace="~{/common/postItem :: postItem}"></th:block>
    </div>
</th:block>
</html>