<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="kr">
<th:block th:fragment="boardCard(board)">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <div class="list-group my-3">
        <a class="list-group-item list-group-item-primary"
           th:href="${board.boardType == 1 ? '/generalBoard/' + board.id : '/quizBoard/' + board.id}"
           th:text="${board.title}">
            <h4>게시판 제목</h4></a>
        <th:block th:each="post : ${board.posts}">
            <th:block
                    th:replace="~{/common/postItem :: postItem(${post}, ${board.id}, ${board.boardType})}"></th:block>
        </th:block>

        <!-- 빈 공간 채우기 -->
        <th:block th:if="${#lists.size(board.posts) < 5}">
            <th:block th:each="i : ${#numbers.sequence(board.posts.size() + 1, 5)}">
                <div class="list-group-item" style="min-height: 83px;">
                    <!-- 빈 게시글 자리 -->
                </div>
            </th:block>
        </th:block>
    </div>
</th:block>
</html>