<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ㄴㄹㅁㅆㅁ</title>
    <link rel="stylesheet" th:href="@{/css/admin.css}">
</head>
<body>
<!--Sidebar-->
<ul class="sidebar">
    <li class="sidebar-user"><a class="nav-link-user" href="admin"><span>유저 관리</span></a></li>
    <hr class="sidebar-divider">
    <div class="sidebar-board">게시판 관리</div>
    <li class="sidebar-general-board"><a class="nav-link-general-board" href=""><span>일반 게시판 관리</span></a></li>
    <li class="sidebar-quiz-board"><a class="nav-link-quiz-board" href=""><span>퀴즈 게시판 관리</span></a></li>
    <hr class="sidebar-divider">
    <li class="sidebar-boardManager"><a class="nav-link-board-manager" href=""><span>집현전 신청 관리</span></a></li>
</ul>
<!--End of Sidebar-->

<!--User-->
<div class="user">
    <!--Topbar-->
    <nav class="navbar">
        <form class="search">
            <div class="input-nickname">
                <input calss="searchText" type="text" placeholder="닉네임을 검색하세요." size="30"/>
                <button class="button" type="button">검색</button>
            </div>
        </form>
    </nav>
    <!--End of Topbar-->

    <!--Content-->
    <div class="container">
        <table class="table table-bordered table-hover dt-responsive" id="userTable">
            <thead>
            <tr>
                <th onclick="sortTable(0)">유저 ID</th>
                <th onclick="sortTable(1)">닉네임</th>
                <th onclick="sortTable(2)">등급</th>
                <th onclick="sortTable(3)">가입 일자</th>
                <th onclick="sortTable(4)">접속 시간</th>
                <th onclick="sortTable(5)">접속 횟수</th>
                <th>닉네임 초기화</th>
                <th>유저 삭제</th>
            </tr>
            </thead>
            <tbody>
            <!--유저 목록 조회 api 미완성으로 추가 구현 예정-->
            <!--id 갯수 만큼 반복-->
            <tr class="content" th:each="list: ${users}">
                <td class="userId" th:text="${list.userId}"></td>
                <td class="nickname" th:text="${list.nickname}"></td>
                <!--                <td class="rank" th:text="${users.}"></td>-->
                <!--                <td class="createdAt" th:text="${users.}"></td>-->
                <!--                <td class="connectedAt" th:text="${users.}"></td>-->
                <!--                <td class="count" th:text="${users.}"></td>-->
                <td>
                    <button class="reset-btn" type="button">초기화</button>
                </td>
                <td>
                    <button class="delete-btn" type="button">삭제</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <!--End of Content-->
</div>
<!--End of User-->
<script src="/js/admin.js"></script>
</body>
</html>