<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/common/defaultLayout}">
<head>
    <title>게시판 생성</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>
<th:block layout:fragment="content">
    <div class="container d-flex align-items-center justify-content-center flex-grow-1">
        <div class="col-6 mb-5">
            <h3 class="text-center mb-5">게시판 생성</h3>
            <div class="col-12 mb-5">
                <label for="board-title" class="form-label">게시판 제목</label>
                <input type="text" class="form-control" id="board-title" placeholder="게시글 제목" required="">
            </div>

            <button class="w-100 btn btn-primary btn-lg" onclick="createBoard()">생성</button>

        </div>
    </div>
    <script th:src="@{/js/createBoard.js}"></script>
</th:block>

</body>
</html>