<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>계정 찾기</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
</head>

<body>
<section class="d-flex vh-100">
    <div class="container-fluid column justify-content-center align-content-center">
        <div class="card-body p-5 text-center">
            <h2 class="md-3">ㄴㄹㅁㅆㅁ</h2>
            <p class="display-4">토큰이 만료되었거나 존재하지 않습니다.</p>
        </div>
    </div>
</section>
</body>

</html>