<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>계정 찾기</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
</head>

<body>
<section class="d-flex vh-100">
    <div class="container-fluid column justify-content-center align-content-center">
        <div class="card-body p-5 text-center">
            <h2 class="md-3">ㄴㄹㅁㅆㅁ</h2>
            <form class="text-left" action="/api/emailExists" method="post">
                <div class="mb-3">
                    <label class="form-label" for="email">이메일</label>
                    <input class="form-control" type="email" name="email" id="email"/>
                    <button class="btn btn-outline-primary btn-sm" type="submit">계정 찾기</button>
                </div>
            </form>
        </div>
    </div>
</section>
</body>

</html>