<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/common/defaultLayout}">
<head>
    <title>랭킹 페이지</title>
    <link rel="stylesheet" href="ranking.css">
</head>
<body>
<div layout:fragment="content">
    <h1>랭킹</h1>
    <hr>
    <table class="ranking-table">
        <thead>
        <tr>
            <th>순위</th>
            <th>닉네임</th>
            <th>등급</th>
            <th>점수</th>
        </tr>
        </thead>
        <tbody id="ranking-list">
        <!-- JS로 동적으로 들어갈 내용 -->
        </tbody>
    </table>
</div>

<script src="scoreUpdater.js"></script>
</body>
</html>
